/* ==========================================================================
     Fonts
     ========================================================================== */
@font-face {
    font-family: 'yorkvilleregular';
    src: url('../fonts/yorkville-webfont.eot');
    src: 
    url('../fonts/yorkville-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yorkville-webfont.woff') format('woff'),
         url('../fonts/yorkville-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}