/* ==========================================================================
     Forms
     ========================================================================== */
input {
  font:1em Arial, Helvetica, sans-serif;
  vertical-align:middle;
  }
input[type="checkbox"],
input[type="radio"] {
  margin-right:3px;
  }
textarea {
  
  }
.label {
  font-weight:bold;
  }
label {
  font-weight:bold;
  vertical-align:middle;
  }
.field {
  margin:0 0 1em;
  }
div.field.error {
  background-color:#fdc;
  border:1px solid red;
  margin:1em 0;
  padding:0.5em;
  }
.formControls {
  margin:1em 0;
  }
.formControls input {
  margin-right:4px;
  }
.context {
  margin-right:4px;
  padding:0 3px;
  }
.standalone {
  margin-right:4px;
  padding:0 3px;
  }
.destructive {
  margin-right:4px;
  padding:0 3px;
  }