/* ==========================================================================
     General Styles
     ========================================================================== */

body {
  background-color: #fff;
  color: #393939;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.81em;
  }
a {
  color: #00a19a;
  text-decoration: none;
  }
a:visited {
  color: #97a9a8;
  }
a:hover {
  color: #ff8a00;
  }
h1 {
  font-family: yorkvilleregular,sans-serif;
  font-size: 2.32em;
  font-weight: normal;
  line-height: 1;
  }
h2 {
  font-size: 1.55em;
  font-weight: normal;
  }
h3 {
  font-size: 1.16em;;
  font-weight: normal;
  }
p {
  line-height: 1.4;
  }
img {
  vertical-align:text-bottom;
  }
#content img,
.portletStaticText img {
  height:auto;
  max-width:100%;
  width:auto; /*fix to IE8*/
  }
#content li ul,
#content li ol {
  margin-top:0;
  margin-bottom:0;
  }
pre {
  background-color:#222;
  color:#fff;
  font-size:12px;
  font-family:monospace;
  margin-bottom:1em;
  padding:1em;
  overflow-x:auto;
  }
