/* ==========================================================================
     Mobile styles
     ========================================================================== */
body {
  // font-size: 1.06em;
  }
div.row {
  float: none;
  width: auto;
  }
div.cell {
  float: none;
  left: auto;
  margin: 0 !important;
  width: auto !important;
  }
#visual-portal-wrapper {
  margin: 0;
  width: auto;
  }