/* ==========================================================================
     Viewlets
     ========================================================================== */
/*
 * Portal Globalnav
 */
#theme-globalnav {
  font-size: 1.31em;
  line-height: 1.18em;
  margin: 0 0 85px;
  padding: 0;
  text-transform: lowercase;
  }
#theme-globalnav:before {
  border: 7px solid rgb(0, 161, 154);
  border: 7px solid rgba(0, 161, 154, 0.75);
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px rgba(0, 161, 154, 0.9);
  content: "";
  display: block;
  margin: -9px 0 0;
  }
#theme-globalnav li {
  display:inline;
  }
#theme-globalnav a {
  margin-right: 70px;
  }
#theme-globalnav a:visited {
  color: $mainColor;
  }
#theme-globalnav .selected a,
#theme-globalnav a:hover {
  color: #018781;
  text-shadow: 0 0 2px rgba(29,244,211,0.6);
  }

/*
 * Portal Search Box 
 */
#portal-searchbox {
  clear: right;
  float: right;
  }
.LSBox {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.4);
  border-radius: 19px;
  box-shadow: -1px -1px rgba(4,129,98,0.25);
  padding: 0 0 0 10px;
  }
#portal-searchbox .searchField {
  background-color: transparent;
  border: 0;
  color: #3fb7b2;
  font-size: 1.08em;
  text-transform: lowercase;
  width: 190px;
  }
#portal-searchbox .searchField:focus {
  outline: none;
  }
#portal-searchbox .searchField::-webkit-input-placeholder {
  color: #3fb7b2;
  }
.searchButton[type="submit"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAM1BMVEUAoZoAoZoAoZoAoZoAoZoAoZoAoZoAoZoAoZoAn5gAoZoAoZoAoZoAoZoAoZoAnZYAAAApaNnIAAAAEXRSTlNDOGQte0+RFp2rWiKGcAu4AKQZVyQAAAB4SURBVHjaxdLNDsQgCEZR2+lYf5DL+z/tmJAuSuO2w8aYE4F8MdmqXpdWoO76lANEKlmjNPJppgcjSmHCpILeRRG/7nzu0q8uLYpR/BR6kOGPEmJBzoqkbUCPYj0zq8at3VrbTBiL3DQ7RfGB30XWfSl2xfP/f/ADH/olQ0jObf8AAAAASUVORK5CYII=);
  border: 0;
  height: 25px;
  padding: 0;
  width: 25px;
  @include hide-text;
  }
.LSResult {
  position: relative;
  z-index: 3;
  }
.livesearchContainer {
  background-color: #fff;
  border: 1px solid rgb(4, 129, 98);
  border: 1px solid rgba(4, 129, 98, 0.25);
  border-radius: 0 19px 19px 19px;
  margin: 0;
  padding: 0;
  position: absolute;  
  right: 0;
  top: 0;
  width: 325px;
  }
#livesearchLegend {
  background-color: #fff;
  border-color: rgb(4, 129, 98);
  border-color: rgba(4, 129, 98, 0.25);
  border-radius: 19px 19px 0 0;
  border-style: solid;
  border-width: 1px 1px 0;
  line-height: 1.18em;
  margin-left: -1px;
  padding: 7px 12px 3px;
  position: absolute;
  top: -2em;
  }
.LSIEFix {
  padding:4px 8px 10px;
  }
.LSTable {
  list-style: none;
  padding: 0;
  }
.LSDescr {
  margin-left:7px;
  }
  
/*
 * Portal Logo 
 */
#portal-logo {
  display: inline-block;
  margin: 0 75px 0 0;
  vertical-align: top;
  }

/*
 * Slogan 
 */
#slogan {
  color: $mainColor;
  display: inline-block;
  font: 2.23em/1em yorkvilleregular,sans-serif;
  vertical-align: top;
  }

/*
 * Bread Crumbs & Language Selecto 
 */
#portal-path {
  clear: both;
  margin: 0 auto 1.4em;
  width: 960px;
  }
#portal-breadcrumbs {
  color: #818181;
  font-size: 10px;
  line-height: 14px;
  }
#breadcrumbs-you-are-here {
  text-transform: lowercase;
  }
#portal-languageselector {
  float: right;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  }
#portal-languageselector li {
  display: inline;
  margin-left: 15px;
  }
#portal-languageselector a {
  color: #5c5f5f;
  }
#portal-languageselector .currentLanguage a {
  color: #3b9d9a;
  }

/*
 * Personal Tools
 */ 
#portal-personaltools {
  font-size: 0.85em;
  line-height: 1.27em;
  list-style: none;
  padding: 12px 0 0;
  }
#portal-personaltools dt a {
  color: $mainColor;
  font-weight: normal;
  margin: 0;
  padding: 5px 11px;
  }
#portal-personaltools dd {
  background-color: #fff;
  margin: 0;
  padding: 0 0 5px;
  right: 0;
  top: 100%;
  }
#portal-personaltools.activated .actionMenuContent {
  display: block;
  }
#portal-personaltools li a {
  color: $mainColor;
  margin: 0;
  padding: 2px 7px;
  }
#portal-personaltools li a:hover {
  background-color: transparent;
  }

/*
 * Footer and Colophon
 */
#go-top {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpi/P//PwMMMDIysgD5f2B8JiQJAYaYCGswDQUsUAluhqxUSwZT4yUMjx47AflfQCbAdPIyGBo0MjAxCTEEB6QD+XxgY4Gq+Bla6sIY2FhNwcr4+VKAxusCxTmYGPR0pBmkpSqRXMXKYG1RAmTxMILUgo1lYGBmQICvQPwFIMAAb10ak452mdkAAAAASUVORK5CYII=") 50% 50% no-repeat;
  clear: both;
  display: block;
  height: 14px;
  margin: auto;
  width: 20px;
  @include hide-text;
  }
#portal-footer-wrapper {
  color: $mainColor;
  font-size: 0.77em;
  }
#portal-footer {
  margin: auto;
  width: 960px;
  }
#portal-colophon {
  margin: auto;
  overflow: hidden;
  width: 960px;
  }
#portal-colophon:after {
  border: 7px solid rgb(0, 161, 154);
  border: 7px solid rgba(0, 161, 154, 0.75);
  border-radius: 7px 7px 0 0;
  box-shadow: 0 -1px rgba(0, 161, 154, 0.9);
  content: "";
  display: block;
  margin: 0 0 -9px;
  }
#portal-footer-wrapper p {
  margin: 0;
  }
  