#portal-top {
  z-index: 1;
  }
#livesearchLegend {
  margin-left:-7px;
  }
.photoAlbumEntry a:hover .photoAlbumEntryTitle  {
  background-color:rgb(241,241,241);
  cursor:pointer;
  }
/* Adding required bullet */
.fieldRequired {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="required-bullet">■ </span>'));
  }
.required-bullet {
  color:#f00;
  }
/* Removing horizontal scroll */
.pb-ajax {
  overflow-x:hidden;
  }
.collapsible .collapser.collapsed {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterEnd', '&#9658;'));
  }
.collapsible .collapser.expanded {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '&#9660;'));
  }
#portal-header {
  border-top: 5px solid rgb(0, 161, 154);
  }
.searchButton[type="submit"] {
  padding-top: 25px;
  }
#portal-personaltools-wrapper {
  display: inline;
  }
#theme-globalnav li {
  display: inline;
  zoom: 1;
}
#theme-globalnav ul {
  left: 0;
  list-style: none;
  top: 100%;
}
#portal-column-content {
  padding: 0 !important;
  }
#portal-colophon {
  border-bottom: 5px solid rgb(0, 161, 154);
  }
#search-results-wrapper {
  margin-top: 10em;
}
#top-carousel {
  left: 0;
} 
